name: Client CI
# on events
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# jobs
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Install dependencies
        run: yarn --cwd ./client install

      - name: Linting
        run: yarn --cwd ./client lint

      - name: Test
        run: yarn --cwd ./client test

      - name: Build
        run: yarn --cwd ./client build
